<h2>Captcha Test</h2>

<div id="testcaptcha-view-container" class="row" style="display: none">
    <h2 data-bind="text:test"></h2>
    <!-- p>Search icon: <span class="glyphicon glyphicon-search"></span></p -->
    <span class="fa fa-camera-retro"></span> Camera
    <div class="col-md-12">
        <form>
            <riddler-captcha params="confirmClick:onCaptchaConfirm,topic:'quakers', buttonLabel:'Send message', cancelClick: onCaptchaCancel, icon:'paper-plane-o'"></riddler-captcha>
        </form>
    </div>
</div>


