
<div id="home-load-message"><span class="fa fa-spinner fa-pulse fa-2x" style="color:lightgrey"></span></div>
<div id="home-view-container" style="display: none">
    <div class="row" data-bind="visible:page()=='lyrics'">
        <div class="col-md-12 d-none d-print-block">
            <strong><span data-bind="text:title"></span></strong>
        </div>
        <div class="col-md-12 lyrics-menu d-print-none">
            <button title='Previous in set' data-bind="click:prevSong" class="btn default"><i class="fa fa-backward"></i></button>
            <button class="btn menu-label" style="min-width: 20rem"><span data-bind="text:title"></span></button>
            <button title='Next in set' data-bind="click:nextSong" class="btn default"><i class="fa fa-forward"></i></button>
            <button title='Song list' style="padding-left:2em;padding-right: 2em" data-bind="click:showSongList" class="btn default"><i class="fa fa-music"></i></button>
            <button title='Split/Join Columns'  data-bind="click:splitColumns" class="btn default"><i class="fa fa-columns" aria-hidden="true"></i></button>

            <span data-bind="visible:loading" style="color:lightgrey">
                <i class="fa fa-spinner fa-pulse"></i> Loading '<span data-bind="text:loading"></span>'
            ...</span>


            <div style="float:right">
                <button title='Smaller Text' class="btn btn-default"  style="min-width:3em" data-bind="click:reduceFont, visible:textSize() > 1">
                    <i class="fa fa-search-minus"></i>
                </button>
                <button class="btn btn-default"  style="min-width:3em" data-bind="visible:textSize() <= 1">
                    &nbsp;
                </button>

                <button class="btn menu-label" style="min-width:3em"> <span data-bind="text:textSize"></span></button>

                <button title='Bigger Text' class="btn btn-default" data-bind="click:enlargeFont"><i class="fa fa-search-plus"></i></button>
                <button title='Help' class="btn btn-default" style="padding-left: 2em" data-bind="click:help"><i class="fa fa-question-circle-o"></i></button>
            </div>
        </div>
        <div style="margin-top: 5ex">
        </div>
    </div>
    <div data-bind="visible:page()=='loading'"><span class="fa fa-spinner fa-pulse fa-2x" style="color:lightgrey"></span></div>
    <div class="row" data-bind="visible:page()=='lyrics', style:{'font-size': textSize() + 'rem'}">
        <div data-bind="foreach:verses1, css:{'col-md-6': columnDisplay}">
                <div data-bind="foreach:lines" style="padding-bottom: 1.5ex">
                    <div>
                        <span data-bind="text:$data"></span>
                    </div>
                </div>
        </div>

        <div class="col-md-6" data-bind="visible:columnDisplay, foreach:verses2">
            <div data-bind="foreach:lines" style="padding-bottom: 1.5ex">
                <div>
                    <span data-bind="text:$data"></span>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 2ex" data-bind="visible:page()=='songs'">
        <div class="row" >
            <div class="col-md-2">
                <div data-bind="visible:!signedIn()">
                    <a href="#" data-bind="click:showSigninForm"><i class="fa fa-user-circle" aria-hidden="true"></i> Sign In</a>
                </div>
                <div><a href="#" data-bind="visible:signedIn,click:newSet">New set</a> </div>
            </div>
            <div class="col-md-10">
                <div data-bind="visible:signedIn" style="margin-bottom: 0"><a href="#" data-bind="click:newSong">New song</a> </div>
            </div>
        </div>
        <div class="row" >
        <div class="col-md-2" style="border-right: 1px solid lightgrey" >
            <h3>Sets</h3>
            <ul class="linklist" data-bind="foreach:sets">
                <li  data-bind="css:{linkhighlight: $root.selectedSet().id === id}">
                    <a href="#" data-bind="click:$root.selectSet"><span data-bind="text:setname"></span></a>
                    <span data-bind="visible:$root.signedIn() && id > 0">
                        &nbsp;<a href="#"  data-bind="click:$root.editSet"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </span>
                </li>

            </ul>
        </div>
        <div class="col-md-10">
            <div>
                <div style="color:lightgrey; float:right" data-bind="visible:loading">
                    <i class="fa fa-spinner fa-pulse"></i> Loading set '<span data-bind="text:loading"></span>'
                    ...
                </div>


                <h3>Songs</h3>
            </div>

            <div class="row">
                <div class="lyrics-menu" data-bind="visible:loading" >
                </div>
                <div class="col-md-3">
                    <ul class="linklist" data-bind="foreach:songs[0]()">
                        <li  data-bind="css:{linkhighlight: $root.selectedSong().id == id}">
                            <a href="#" data-bind="click:$parent.selectSong"><span data-bind="text:title"></span></a>
                            <span data-bind="visible:$root.username() != user">
                               <!-- (<span data-bind="text:user"></span>) -->
                            </span>
                            <span data-bind="visible:$root.isAdmin() || $root.username() == user">
                                <a href="#" data-bind="click:$root.editSong"><i class="fa fa-pencil" aria-hidden="true"></i></a> </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="linklist" data-bind="foreach:songs[1]()">
                        <li  data-bind="css:{linkhighlight: $root.selectedSong().id == id}">
                            <a href="#" data-bind="click:$parent.selectSong"><span data-bind="text:title"></span></a>
                            <span data-bind="visible:$root.username() != user">
                                <!-- (<span data-bind="text:user"></span>) -->
                            </span>
                            <span data-bind="visible:$root.isAdmin() || $root.username() == user">
                                <a href="#" data-bind="click:$root.editSong"><i class="fa fa-pencil" aria-hidden="true"></i></a> </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="linklist" data-bind="foreach:songs[2]()">
                        <li  data-bind="css:{linkhighlight: $root.selectedSong().id == id}">
                            <a href="#" data-bind="click:$parent.selectSong"><span data-bind="text:title"></span></a>
                            <span data-bind="visible:$root.username() != user">
                                <!-- (<span data-bind="text:user"></span>) -->
                            </span>
                            <span data-bind="visible:$root.isAdmin() || $root.username() == user">
                                <a href="#" data-bind="click:$root.editSong"><i class="fa fa-pencil" aria-hidden="true"></i></a> </span>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="linklist" data-bind="foreach:songs[3]()">
                        <li  data-bind="css:{linkhighlight: $root.selectedSong().id == id}">
                            <a href="#" data-bind="click:$parent.selectSong"><span data-bind="text:title"></span></a>
                            <span data-bind="visible:$root.username() != user">
                                <!-- (<span data-bind="text:user"></span>) -->
                            </span>
                            <span data-bind="visible:$root.isAdmin() || $root.username() == user">
                                <a href="#" data-bind="click:$root.editSong"><i class="fa fa-pencil" aria-hidden="true"></i></a> </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row" style="padding-top: 2ex" data-bind="visible:page()=='help'">
        <div class="col-md-12">
            <h3>Notes:</h3>
            <p><a href="#"  data-bind="click:home">Return to lyric page</a> </p>
            <p>The purpose of this application is to display lyric sheets in a readable fashion as a reminder prompt for a performer at a song-circle or other event.
            It is designed to be used on a Kindle Fire but can be viewed on any device.</p>
            <p>This diagram explains the buttons on the menu bar of the man page.</p>
            <p>
                <img alt='Menu diagram' src="/application/assets/images/menu-help.jpg" class="img-responsive" >
            </p>

            <p>
                You can create and edit your own songs and sets too.  If you'd like this please register on my songs site.
                Indicate in the "Interests and Instruments" section that you'd like to put your own songs on the "Lyric Sheets" application.

                <a href ="https://terrys-songs.net/user/register" target="_blank">Register on "Terry's Songs"</a>
            </p>

        </div>
    </div>

    <div data-bind="visible:page()=='editset'">
        <form>
            <div class="row" style="padding-top: 2ex" >
                <div class="col-md-6">
                    <h3>Build a set</h3>
                        <div class="form-group">
                            <!-- div data-bind="visible:setForm.id() !== null">
                                <span data-bind="text:setForm.setName" style="font-weight: bold"></span>
                            </div-->
                            <div> <!-- data-bind="visible:setForm.id() == null" -->
                                <label class="control-label" for="setname" style="font-weight: bold">Set name</label>
                                <span class="error" data-bind="visible: setForm.nameError">
                                    :</span> <span  class="error"  data-bind="text:setForm.nameError" ></span>
                                <input type="text" class="form-control" id="setname" data-bind="value: setForm.setName" />
                            </div>
                        </div>
                </div>
                <!-- div class="col-md-6">
                    <button type="button" class="btn btn-primary" data-bind="click:saveSetList" style="margin-right: 3rem">Save</button>
                    <button type="button" class="btn btn-link" data-bind="click:cancelSetEdit">Cancel</button>

                </div -->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label style="font-weight: bold; margin-bottom: 0px">Selected Songs</label>
                    <div>
                        <button type="button" class="btn btn-link" data-bind="click:saveSetList" style="font-weight: bold; margin-right: 3rem">Save</button>
                        <button type="button" class="btn btn-link" data-bind="click:cancelSetEdit">Cancel</button>
                        <button type="button" class="btn btn-secondar pull-right" data-bind="click:deleteSet">Delete set</button>
                    </div>
                    <div>
                        <ul class="linklist" data-bind="foreach:setForm.selectedSongs">
                            <li>
                                <a href="#" data-bind="click:$root.moveSongUp"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>&nbsp;
                                <a href="#" data-bind="click:$root.moveSongDown"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                                &nbsp;
                                <a href="#" data-bind="click:$root.removeFromSetList"><span data-bind="text:title"></span> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-8">
                    <label  style="font-weight: bold">Available Songs</label>
                    <div class="form-group" style="margin-bottom: 0">
                        <input type="text" class="form-control" placeholder="Search" id="search" data-bind="textInput: setForm.searchValue" />
                    </div>
                    <div>
                        <a href="#" data-bind="click:toggleUser">
                            <span data-bind="visible:filterByUser">Show all songs</span>
                            <span data-bind="visible:!filterByUser()">Show my songs only</span>
                        </a>
                    </div>
                    <div>
                        <ul class="linklist" data-bind="foreach:setForm.avaliableSongs" style="padding-bottom: 2rem">
                            <li>
                                 <a href="#" data-bind="click:$root.addToSetList"><i class="fa fa-angle-double-left" aria-hidden="true"></i> <span data-bind="text:title"></span></a>
                                <span data-bind="visible:$root.username() != user">(<span data-bind="text:user"></span>)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div> <!-- end page -->

    <div data-bind="visible:page()=='editsong'">
        <form>
            <div class="row" style="padding-top: 2ex" >
                <div class="col-md-12">
                    <h3>Song</h3>
                    <div data-bind="visible: songForm.errorMessage">
                        <span  class="error"  data-bind="text:songForm.errorMessage" ></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="songTitle" style="font-weight: bold">Song Title</label>
                        <input type="text" class="form-control" id="songTitle" data-bind="value:songForm.title" />
                    </div>
                    <div class="form-group">
                        <label for="songlyrics">Lyrics:</label>
                        <textarea id='songlyrics' class="form-control" rows="5" data-bind="value:songForm.lyrics"></textarea>
                    </div>

                    <div id='public' class="checkbox">
                        <label><input type="checkbox" data-bind="checked:public"> Public domain?</label>
                    </div>
                    <div id='include' class="checkbox" data-bind="visible:songForm.currentSetName">
                        <label><input type="checkbox" data-bind="checked:songForm.includeInSet"> Include in set: <span data-bind="text:songForm.currentSetName"></span>?</label>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" data-bind="click:saveSong" style="margin-right: 3rem">Save</button>
                        <button type="button" class="btn btn-link" data-bind="click:cancelSongEdit">Cancel</button>
                        <button type="button" class="btn btn-secondary pull-right" data-bind="click:deleteSong" style="margin-right: 3rem">Delete</button>

                    </div>
                </div>
            </div>
        </form>
    </div> <!-- end song form -->

    <div class="row" style="padding-top: 1rem"><div class="col-md-12">(<span data-bind="text:username"></span>)</div> </div>

    <div class="modal" id="signin-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button data-bind="visible:bootstrapVersion() !== 4" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Sign in to Terry's Songs</h4>
                        <button data-bind="visible:bootstrapVersion() === 4" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="modal-body">
                                <!-- div class="alert-danger" data-bind="visible:personForm.accountForm.serviceErrors, html: personForm.accountForm.serviceErrors"></div -->
                                <div class="form-group" >
                                    <label for="acct-username" class="control-label">
                                        User name
                                    </label>
                                    <!-- div class="pnut-input-error" data-bind="visible:personForm.accountForm.usernameError">
                                        <strong><translate params="code:'dir-error-no-username',translator:self"></translate></strong>
                                        <br>
                                        <translate params="code:'dir-error-invalid-username',translator:self"></translate>
                                    </div -->

                                    <input class="form-control" id="acct-username" data-bind="value:credentials.username"/>
                                </div>

                                <div class="form-group" >
                                    <label for="acct-password" class="control-label">
                                        Password
                                    </label>
                                    <!-- div class="pnut-input-error" data-bind="visible:personForm.accountForm.passwordError">
                                        <strong><translate params="code:'dir-error-no-password',translator:self"></translate></strong>
                                        <br>
                                        <translate params="code:'dir-error-invalid-password',translator:self"></translate>
                                    </div -->
                                    <input class="form-control" id="acct-password" data-bind="value:credentials.password"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bind="click:signIn">Sign in</button>
                                <button type="button" class="btn btn-default btn-secondary"  data-dismiss="modal">Cancel</button>
                            </div>
                        </form>


                    </div>
                    <!-- div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bind="click:signIn"><translate params="code:'label-ok',translator:self"></translate></button>
                        <button type="button" class="btn btn-default btn-link"  data-dismiss="modal"><translate params="code:'label-close',translator:self"></translate></button>
                    </div -->
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- filter menu modal -->
    <modal-confirm params="id:'confirm-delete-song-modal',headerText: 'Please confirm DELETE', bodyText: 'Delete this song?', confirmClick: doDeleteSong, translator:self"></modal-confirm>
    <modal-confirm params="id:'confirm-delete-set-modal',headerText: 'Please confirm DELETE', bodyText: 'Delete this set?', confirmClick: doDeleteSet, translator:self"></modal-confirm>

</div>

