<div id="home-load-message"><span class="fa fa-spinner fa-pulse fa-2x" style="color:lightgrey"></span></div>
<div id="home-view-container" style="display: none">
    <div class="row" data-bind="visible:page()=='lyrics'">
        <div class="col-md-12 lyrics-menu">
            <button data-bind="click:prevSong" class="btn default"><i class="fa fa-backward"></i></button>
            <button class="btn menu-label"><span data-bind="text:title"></span></button>
            <button data-bind="click:nextSong" class="btn default"><i class="fa fa-forward"></i></button>
            <button data-bind="click:showSongList"class="btn default"><i class="fa fa-music"></i></button>
            <button data-bind="click:splitColumns" class="btn default"><i class="fa fa-columns" aria-hidden="true"></i></button>

            <span data-bind="visible:loading" style="color:lightgrey">
                <i class="fa fa-spinner fa-pulse"></i> Loading '<span data-bind="text:loading"></span>'
            ...</span>


            <div style="float:right">
                <button class="btn btn-default"  style="min-width:3em" data-bind="click:reduceFont, visible:textSize() > 1">
                    <i class="fa fa-search-minus"></i>
                </button>
                <button class="btn btn-default"  style="min-width:3em" data-bind="visible:textSize() <= 1">
                    &nbsp;
                </button>

                <button class="btn menu-label" style="min-width:3em"> <span data-bind="text:textSize"></span></button>



                <button class="btn btn-default" data-bind="click:enlargeFont"><i class="fa fa-search-plus"></i></button>
            </div>
        </div>
        <div style="margin-top: 5ex">
        </div>
    </div>
    <div data-bind="visible:page()=='loading'"><span class="fa fa-spinner fa-pulse fa-2x" style="color:lightgrey"></span></div>
    <div class="row" data-bind="visible:page()=='lyrics', style:{'font-size': textSize() + 'rem'}">
        <div data-bind="foreach:verses1, css:{'col-md-6': columnDisplay}">
                <div data-bind="foreach:lines" style="padding-bottom: 1.5ex">
                    <div>
                        <span data-bind="text:$data"></span>
                    </div>
                </div>
        </div>

        <div class="col-md-6" data-bind="visible:columnDisplay, foreach:verses2">
            <div data-bind="foreach:lines" style="padding-bottom: 1.5ex">
                <div>
                    <span data-bind="text:$data"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 2ex" data-bind="visible:page()=='songs'">
        <div class="col-md-2" style="border-right: 1px solid lightgrey" >
            <h3>Sets</h3>
            <ul class="linklist" data-bind="foreach:sets">
                <li  data-bind="css:{linkhighlight: $root.set() == Value}">
                    <a href="#" data-bind="click:$root.selectSet"><span data-bind="text:Name"></span></a> </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div>
                <div style="color:lightgrey; float:right" data-bind="visible:loading">
                    <i class="fa fa-spinner fa-pulse"></i> Loading set '<span data-bind="text:loading"></span>'
                    ...
                </div>

                <h3>Songs</h3>
            </div>

            <div class="row">
                <div class="lyrics-menu" data-bind="visible:loading" >
                </div>
                <div class="col-md-3">
                    <ul class="linklist" data-bind="foreach:songs[0]()">
                        <li  data-bind="css:{linkhighlight: $root.selectedSong() == Value}">
                            <a href="#" data-bind="click:$parent.selectSong"><span data-bind="text:Name"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="linklist" data-bind="foreach:songs[1]()">
                        <li  data-bind="css:{linkhighlight: $root.selectedSong() == Value}">
                            <a href="#" data-bind="click:$parent.selectSong"><span data-bind="text:Name"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="linklist" data-bind="foreach:songs[2]()">
                        <li  data-bind="css:{linkhighlight: $root.selectedSong() == Value}">
                            <a href="#" data-bind="click:$parent.selectSong"><span data-bind="text:Name"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="linklist" data-bind="foreach:songs[3]()">
                        <li  data-bind="css:{linkhighlight: $root.selectedSong() == Value}">
                            <a href="#" data-bind="click:$parent.selectSong"><span data-bind="text:Name"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

