<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>[[title]]</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/application/assets/styles/application.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js"></script>
    <script src='https://code.jquery.com/jquery-1.12.4.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
    <!-- script src="https://use.fontawesome.com/c33783ded6.js"></script -->
    <script src="/[[loader]]"></script>
    [[head]]

</head>

<body class="fullscreen">
[[bodyheader]]
<div class="container">
    <div class="row">
        <div class="col-md-12" id='service-messages-container'>
            <service-messages></service-messages>
        </div>
    </div>
</div>
<div class="container">
    [[content]]
</div>
</body>
<script>
    Peanut.PeanutLoader.startApplication('[[vmname]]');
</script>
</html>
